@model XLibrary.Core.Models.Book

@{
    ViewBag.Title = Model.Title + "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <div class="col-md-2">
        <img class="img-responsive" src="~/Content/BookImages/@Model.Image" />
    </div>
    <div class="col-md-10">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublicationYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>

            <dt></dt>
            @{
                if (Model.IsAvailable)
                {
                    <dd>
                        <a href="@Url.Action("ReserveAction", "Home", new { id = Model.Id })" class="btn btn-default">Reserve</a>
                    </dd>
                }
                else
                {
                    <dd>
                        <a href="#" class="btn-block" style="color:lightslategray">Unavailable</a>
                    </dd>
                }
            }

            <dt></dt>
            <dd>@Html.ActionLink("Back to List", "Index")</dd>
        </dl>
    </div>

</div>
<div class="col-md-12 clearfix"></div>
    </p>
