@model IEnumerable<XLibrary.Core.Models.Book>
@{
    ViewBag.Title = "Main Page";
}

<h1>Books</h1>

<table class="table">
    <tr>
        <th style="min-width:96px"></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <img class="img-thumbnail" style="height:96px;width:96px" src="~/Content/BookImages/@item.Image" />
    </td>
    <td>
        <strong>@Html.ActionLink(item.Title, "Details", new { id = item.Id })</strong>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    @{
        if (item.IsAvailable)
        {
            <td>
                <a href="@Url.Action("ReserveAction", "Home", new { id = item.Id })" class="btn btn-default">Reserve</a>
            </td>
        }
        else
        {
            <td>
                <a href="#" class="btn-block" style="color:lightslategray">Unavailable</a>
            </td>
        }
    }

</tr>
    }
</table>